<section class="{{@class}}">
        <h2 id="country" data-country="{{@country}}">{{@country}} Timeline</h2>
        <canvas id="myChart" width="500px" height="200px"></canvas>
</section>


<script>

    let chartDays = [];
    let chartCases = [];
    let chartDeaths = [];
    let chartRecovered = [];
    const country = document.getElementById('country').dataset.country
  
    async function getData() {
        let response = await fetch(`http://api.coronastatistics.live/timeline/${country}`);
        let data = await response.json();
        for (i = 0; i<Object.keys(data.data.timeline).length; i+=1){
            chartDays.push(data.data.timeline[i].date);
            chartCases.push(data.data.timeline[i].cases);
            chartDeaths.push(data.data.timeline[i].deaths);
            chartRecovered.push(data.data.timeline[i].recovered);
        }
        
        return data
    }
    chartIt();
    async function chartIt() {
        await getData()
        let ctx = document.getElementById('myChart').getContext("2d");
        
        var myChart = new Chart(ctx,{
            type: "line",
            data: {
                labels: chartDays,
                datasets: [{
                    label:'Cases',
                    data: chartCases,
                    borderColor: 'rgb(33, 171, 216)'
                        
                },
                {
                    label:'Deaths',
                    data: chartDeaths,
                    borderColor: 'rgb(235, 85, 105)'
                        
                },
                {
                    label:'Recovered',
                    data: chartRecovered,
                    borderColor: 'rgb(74, 202, 137)'
                        
                }],
                
                
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                
            }
        })
    }

</script>