<div class="today_states">
    <div class="card total_infections">Infections <span>{{@data.cases}}</span></div>
    <div class="card total_deaths">Deaths <span>{{@data.deaths}}</span></div>
    <div class="card total_recoveries">Recoveries <span>{{@data.recovered}}</span></div>
    <div class="card today_cases">Critical <span>{{@data.critical}}</span></div>
</div>
