<section class="card map">
    <div id="map" class="map"></div>
</section>

<script 
      async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhOY5QJuCK3vykXe9qE4Gq8FUzuMbzwU4&callback=initMap"
      type="text/javascript">
</script>

<script>
    // Map is starting
    function initMap() {
        console.log('dasdsdad')
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: {lat: 0, lng: 0}
        });
        // render circles with data
        var popup = new google.maps.InfoWindow()
        renderData(map,popup)
    }

    // fetching countries data
    async function getCountriesData() {
        const response = await fetch('https://corona.lmao.ninja/countries');
        const data = await response.json()
        return data
    }

    // Rendering circles with counties data
    async function renderData(map,popup) {
        //Waiting for data 
       const data =  await getCountriesData()


        // print every circle on the map
        data.forEach(country => {
                const countryCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: {
                        lat: country.countryInfo.lat,
                        lng: country.countryInfo.long
                    },
                    radius: Math.sqrt(country.cases) * 1000
                });
                
                countryCircle.addListener('mouseover', () => {
                    popup.setPosition(countryCircle.getCenter());
                    popup.setContent(renderCountriesInfo(country))
                    popup.open(map,countryCircle)
                })
                countryCircle.addListener('mouseout', () => {
                    popup.close(map,countryCircle)
                    console.log('pajuera')
                })
     
        })
    }

    function renderCountriesInfo( {cases, deaths, recovered, country }){
        console.log(cases)
        return`
            <div>
                <p><Strong>${country}</Strong>:${cases}</p>
            </div>
         `
    }

</script>



 