<section class="card map">
    <div id="map" class="map"></div>
</section>

<script 
      async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhOY5QJuCK3vykXe9qE4Gq8FUzuMbzwU4&callback=initMap"
      type="text/javascript">
</script>

<script>
    // Map is starting
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: {lat: 0, lng: 0},
            disableDefaultUI: true,
            styles: [
            {
                "featureType": "all",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#303030"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text",
                "stylers": [
                    {
                        "lightness": "16"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#444444"
                    }
                ]
            },
            {
                "featureType": "administrative.province",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative.locality",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative.neighborhood",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": 45
                    },
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit.station",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#93d0e9"
                    },
                    {
                        "visibility": "on"
                    }
                ]
            }
        ]
        });
        // render circles with data
        var popup = new google.maps.InfoWindow()
        renderData(map,popup)
    }

    // fetching countries data
    async function getCountriesData() {
        const response = await fetch('https://corona.lmao.ninja/countries');
        const data = await response.json()
        return data
    }

    // Rendering circles with counties data
    async function renderData(map,popup) {
        //Waiting for data 
       const data =  await getCountriesData()


        // print every circle on the map
        data.forEach(country => {
                const countryCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: {
                        lat: country.countryInfo.lat,
                        lng: country.countryInfo.long
                    },
                    radius: Math.sqrt(country.cases) * 1000
                });
                
                countryCircle.addListener('mouseover', () => {
                    popup.setPosition(countryCircle.getCenter());
                    popup.setContent(renderCountriesInfo(country))
                    popup.open(map,countryCircle)
                })
                countryCircle.addListener('mouseout', () => {
                    popup.close(map,countryCircle)
                })
        })
    }

    function renderCountriesInfo( {cases, deaths, recovered, country }){
        return`
            <div>
                <p><Strong>${country}</Strong>:${cases}</p>
            </div>
         `
    }

</script>



 