<section class="card timeline">
    <canvas id="myChart2" width="400" height="400"></canvas>
</section>


<script>

    let chartDays = [];
    let chartCases = [];
    let chartDeaths = [];
    let chartRecovered = [];

    async function getData() {
        let response = await fetch('http://api.coronastatistics.live/timeline/global');
        let data = await response.json();
        
        for (i = 0; i<Object.keys(data).length; i+=2){
            chartDays.push(Object.entries(data)[i][0]);
            chartCases.push(Object.entries(data)[i][1].cases)
            chartDeaths.push(Object.entries(data)[i][1].deaths)
            chartRecovered.push(Object.entries(data)[i][1].recovered)
        }
        
        return data
    }
    chartIt();
    async function chartIt() {
        await getData()
        let ctx = document.getElementById('myChart2').getContext("2d");
        
        var myChart = new Chart(ctx,{
            type: "line",
            data: {
                labels: chartDays,
                datasets: [{
                    label:'Casos',
                    data: chartCases,
                    borderColor: 'rgb(33, 171, 216)'
                        
                },
                {
                    label:'Muertes',
                    data: chartDeaths,
                    borderColor: 'rgb(235, 85, 105)'
                        
                },
                {
                    label:'Recuperados',
                    data: chartRecovered,
                    borderColor: 'rgb(74, 202, 137)'
                        
                }],
                
                
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })
    }


</script>