<div class="container">
    <Globalrecords @data = {{@model.globalData}} />
    <Map/>
    <Timelinerecords @class="timeline"/>
    <Countriesrecords @countriesData = {{@model.countriesData}}/>
</div>
